<div class="hero-banner">
 <!-- <div class="banner-title">
  <img src="banner.jpg"> -->
 <h1 id="title">ALL PLANTS</h1>
<!-- </div> -->
</div>
<div class="container">
  <div class="cards">
  <% @plants.each do |plant| %>
  
  <div class="card">
    <img src="<%=plant.image_url %>">
    <p><%= plant.name %><br>
      <% if current_user %>
    <%=link_to "plant queries", plant_queries_path(plant) %></p>
    <%end%>
    </div> 

  <%end%>    

  </div>


</div>