<div class="container">
<h3><%= @plant.name %></h3><br>
<% @plant.queries.each do |query| %>
Q: <%= query.question %>
<%= link_to "View query", plant_query_path(@plant,query) %> <br>
<%end%>
<br>
<%= link_to "Create a new query", new_plant_query_path(@plant) %>
</div>