<div class="container">
<%= @plant.name %><br>
<% @plant.queries.each do |query| %>
Q: <%= query.question %>
<%= link_to "Query", plant_query_path(@plant,query) %> <br>
<%end%>
<br>
<%= link_to "Create a new query", new_plant_query_path(@plant) %>
</div>