/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    
}

    
textarea, input, button, select { 
    font-family: inherit; 
    font-size: inherit; 
}


.container{
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
    background-color: whitesmoke;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px;
    height: 250px;
    margin: 30px 15px;
}

.card img{
    height: 150px;
}

nav{
    padding: 5px;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;
    width: 100%; 
}
 nav a{
     padding: 10px;
 }
 nav div{
 
    display:flex;
 }

.search{
    padding: 10px;
}

  .field_with_errors{
    padding: 2px;
    background-color: red;
    display: table;
  }
