// Place all the styles related to the plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hero-banner{
    background: url('banner.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin: 0px;
    position: relative;
    }
    
    
    #title{
    position: absolute;
    top: 30%;
    left: 43%;
    color: white;
    }


